In [1]:
import pandas as pd
import numpy as np

In [4]:
ecg = pd.read_csv("ECG.csv")
eeg = pd.read_csv("EEG.csv")
labels = pd.read_csv("Labels.csv")

In [23]:
Arousal = labels[labels['Label'] == 'Arousal']
Dominance = labels[labels['Label'] == 'Dominance']
Valence = labels[labels['Label'] == 'Valence']

In [28]:
labels.shape[0] == Arousal.shape[0] + Dominance.shape[0] + Valence.shape[0]

True

In [25]:
Arousal = Arousal.rename({'Score':'Arousal'}, axis=1)
Dominance = Dominance.rename({'Score':'Dominance'}, axis=1)
Valence = Valence.rename({'Score':'Valence'}, axis=1)

In [32]:
print(ecg.columns)
print(eeg.columns)
print(labels.columns)

Index(['ECG1', 'ECG2', 'Person', 'Movie'], dtype='object')
Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', 'Person', 'Movie'],
      dtype='object')
Index(['Score', 'Person', 'Movie', 'Label'], dtype='object')

In [33]:
print(eeg.shape)
print(ecg.shape)

(10975232, 16)
(21950464, 4)

In [34]:
ecg = pd.merge(ecg, Arousal.drop('Label', axis=1), how='left', on=['Person', 'Movie'])
ecg = pd.merge(ecg, Dominance.drop('Label', axis=1), how='left', on=['Person', 'Movie'])
ecg = pd.merge(ecg, Valence.drop('Label', axis=1), how='left', on=['Person', 'Movie'])

In [38]:
eeg = pd.merge(eeg, Arousal.drop('Label', axis=1), how='left', on=['Person', 'Movie'])
eeg = pd.merge(eeg, Dominance.drop('Label', axis=1), how='left', on=['Person', 'Movie'])
eeg = pd.merge(eeg, Valence.drop('Label', axis=1), how='left', on=['Person', 'Movie'])

In [39]:
print(eeg.shape)

(10975232, 19)

In [40]:
print(eeg.shape)
print(ecg.shape)

(10975232, 19)
(21950464, 7)

In [41]:
eeg.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,Person,Movie,Arousal,Dominance,Valence
0,4388.2,4102.6,4219.5,4465.1,4370.8,4399.5,4443.1,4023.1,4365.1,4310.3,3953.8,4454.4,4326.2,4165.1,1,1,3,2,4
1,4375.9,4093.8,4252.8,4522.6,4435.9,4411.8,4488.7,4108.7,4399.5,4384.6,4007.7,4466.7,4372.8,4247.2,1,1,3,2,4
2,4378.5,4091.3,4230.3,4488.2,4370.3,4402.6,4461.0,4077.4,4378.5,4328.7,3986.2,4461.0,4328.2,4203.6,1,1,3,2,4
3,4393.8,4101.0,4193.3,4419.0,4270.3,4392.3,4411.3,3982.6,4336.4,4213.3,3930.3,4442.6,4261.0,4100.0,1,1,3,2,4
4,4396.4,4108.7,4210.8,4436.4,4310.8,4401.0,4426.7,3980.5,4349.7,4238.5,3945.1,4446.7,4289.7,4115.4,1,1,3,2,4

In [42]:
ecg.to_csv("ECG_Labelled.csv")
eeg.to_csv("EEG_Labelled.csv")

## Combine ECG and EEG

In [20]:
ecg = pd.read_csv("ECG_Labelled.csv", index_col=0)
eeg = pd.read_csv("EEG_Labelled.csv", index_col=0)

/home/sf/.local/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [21]:
eeg.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,Person,Movie,Arousal,Dominance,Valence
0,4388.2,4102.6,4219.5,4465.1,4370.8,4399.5,4443.1,4023.1,4365.1,4310.3,3953.8,4454.4,4326.2,4165.1,1,1,3,2,4
1,4375.9,4093.8,4252.8,4522.6,4435.9,4411.8,4488.7,4108.7,4399.5,4384.6,4007.7,4466.7,4372.8,4247.2,1,1,3,2,4
2,4378.5,4091.3,4230.3,4488.2,4370.3,4402.6,4461.0,4077.4,4378.5,4328.7,3986.2,4461.0,4328.2,4203.6,1,1,3,2,4
3,4393.8,4101.0,4193.3,4419.0,4270.3,4392.3,4411.3,3982.6,4336.4,4213.3,3930.3,4442.6,4261.0,4100.0,1,1,3,2,4
4,4396.4,4108.7,4210.8,4436.4,4310.8,4401.0,4426.7,3980.5,4349.7,4238.5,3945.1,4446.7,4289.7,4115.4,1,1,3,2,4

In [22]:
ecg_downsampled = ecg[np.arange(len(ecg)) % 2 == 0] # deleting all odd indices

In [23]:
ecg_downsampled[(ecg_downsampled['Person'] == 1) & (ecg_downsampled['Movie'] == 3)].shape[0]

44544

In [24]:
ecg_downsampled.reset_index(inplace=True, drop=True)

In [25]:
ecg_downsampled.head()

   ECG1  ECG2  Person  Movie  Arousal  Dominance  Valence
0  2046  2056       1      1        3          2        4
1  2039  2059       1      1        3          2        4
2  2041  2060       1      1        3          2        4
3  2039  2059       1      1        3          2        4
4  2040  2056       1      1        3          2        4

In [26]:
eeg[(eeg['Person'] == 1) & (eeg['Movie'] == 3)].shape[0] # check

44544

In [27]:
eeg.shape[0] == ecg_downsampled.shape[0] # check

True

In [28]:
eeg.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', 'Person', 'Movie', 'Arousal', 'Dominance', 'Valence'],
      dtype='object')

In [29]:
del ecg

In [30]:
combined = pd.concat([eeg, ecg_downsampled.drop(['Person', 'Movie', 'Arousal', 'Dominance', 'Valence'], axis=1)], axis=1)

In [31]:
ecg_downsampled.shape

(10975232, 7)

In [32]:
combined.shape

(10975232, 21)

In [34]:
combined.columns

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', 'Person', 'Movie', 'Arousal', 'Dominance', 'Valence', 'ECG1',
       'ECG2'],
      dtype='object')

In [35]:
combined.to_csv("DREAMER_combined.csv")